<<<<<<< HEAD
<header>
    <h1>Mein Block</h1>
</header>

<main>
    <div class="menu">
        <span class="menu__item">Search</span>
        <span class="menu__item">Add</span>
    </div>
    <content>
        <h2>Aktuelles</h2>
        <details>
            <summary>
                <span class="main__item--title">Titel 1</span>
            </summary>
            <div class="content">
                <span class="main__item--content">Beitrag 1</span>
            </div>
        </details>
        <details>
            <summary>
                <span class="main__item--title">Titel 2</span>
            </summary>
            <div class="content">
                <span class="main__item--content">
                    <ul>
                       <li class="main__item--description">Beschreibung</li>
                       <li class="main__item--user">Name / Stockwerk</li>
                    </ul>
                </span>
            </div>
        </details>
    </content>
</main>
=======
<div class="menu">
    <span class="menu__item">Search</span>
    <span class="menu__item">Add</span>
</div>
<content>
    <h2>Aktuelles</h2>
    <details>
        <summary>
            <span class="main__item__title">Titel 1</span>
        </summary>
        <div class="content">
            <span class="main__item__content">Beitrag 1</span>
        </div>
    </details>
</content>
>>>>>>> 497b3499aff48bd8a993e6bdbac33b8532a855cb
