<main>
    <div class="menu">
        <a href="/" class="menu__item menu__item--search"></a>
        <a href="/add" class="menu__item menu__item--add"></a>
    </div>
    <content>
        <h2>Aktuelles</h2>
        <details>
            <summary>
                <span class="main__item--title">Akkuschrauber BOSCH</span>
            </summary>
            <div class="content">
                <span class="main__item--content">
                    <ul>
                        <li class="main__item--description">Akkuschrauber BOSCH - Beschreibung</li>
                        <li class="main__item--user">Familie Meier / Erdgeschoss</li>
                    </ul>
                </span>
            </div>
        </details>
        <details>
            <summary>
                <span class="main__item--title">Hochdruckreiniger</span>
            </summary>
            <div class="content">
                <span class="main__item--content">
                    <ul>
                       <li class="main__item--description">K채rcher K7 Premium - Beschreibung</li>
                       <li class="main__item--user">Familie Meier / Erdgeschoss</li>
                    </ul>
                </span>
            </div>
        </details>
        <details>
            <summary>
                <span class="main__item--title">Weber Kugelgrill</span>
            </summary>
            <div class="content">
                <span class="main__item--content">
                    <ul>
                       <li class="main__item--description">Weber Kugelgrill - Beschreibung</li>
                       <li class="main__item--user">Familie M체ller / 2 OG</li>
                    </ul>
                </span>
            </div>
        </details>
        <details>
            <summary>
                <span class="main__item--title">Snowboard Damen</span>
            </summary>
            <div class="content">
                <span class="main__item--content">
                    <ul>
                       <li class="main__item--description">Snowboard Damen - Beschreibung</li>
                       <li class="main__item--user">Familie R체dis체li / Dachgeschoss</li>
                    </ul>
                </span>
            </div>
        </details>
    </content>
</main>



